<div class="container">
  <div class="header">
    <ngx-skeleton-loader count="1" appearance="line" class="skeleton-line-name" *ngIf="pageIsLoading"></ngx-skeleton-loader>
    <h4 class="greeting" *ngIf="!pageIsLoading">Hi, {{ firstName }}</h4>
    <ngx-skeleton-loader count="1" appearance="line" class="skeleton-line-name" *ngIf="pageIsLoading"></ngx-skeleton-loader>
    <h4 class="username" *ngIf="!pageIsLoading">{{ username }}</h4>
  </div>

  <mat-card class="card">
    <mat-card-content>
      <ngx-skeleton-loader count="1" appearance="line" class="skeleton-line-name" *ngIf="pageIsLoading"></ngx-skeleton-loader>
      <h3 class="balance" *ngIf="!pageIsLoading">{{ balance | currency:'₦' }}</h3>
      <h4 class="balance-text">NGN Balance</h4>
    </mat-card-content>
  </mat-card>

  <div class="cta-btns">
    <button mat-raised-button class="btn" (click)="addMoney()">Add Money</button>
    <button mat-raised-button class="btn">Send Money</button>
  </div>

  <div class="transactions">
    <h4 class="transaction-text">Transactions</h4>
  </div>
</div>